.builder {
  display: flex;
  width: 100%;
  background-color: var(--background-primary);
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.builderContent {
  width: 100%;
  display: grid;
  grid-template-columns: 230px 1fr 300px;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  padding: 20px 11px 11px;
}
