.desktopFrame {
  min-height: -webkit-fill-available;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: local;
  width: 100%;
}
