.builderHeader {
  width: 100%;
  height: var(--topbar-height);
  background: var(--background-primary);
  box-shadow:
    0 4px 9px rgba(143, 143, 143, 0.1),
    0 17px 17px rgba(143, 143, 143, 0.09);
}

.builderHeaderContent {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl) var(--spacing-4xl);
}

.builderHeaderDivider {
  width: 1px;
  height: 40px;
  background: #dcdcdc;
}

.builderHeaderLeft {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.builderHeaderLeft .builderHeaderDivider {
  margin: 0 var(--spacing-2xl);
}

.builderHeaderLogo img {
  display: block;
  max-height: var(--topbar-height);
  width: auto;
  height: auto;
}

.builderHeaderViewSwitch {
  display: flex;
  gap: var(--spacing-sm);
}

.builderHeaderViewButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-4xl);
  height: var(--spacing-4xl);
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition:
    background 0.2s,
    border 0.2s;
}

.builderHeaderViewButton.isActive {
  border: 1px solid var(--primary);
  background: rgba(2, 204, 89, 0.05);
}

.builderHeaderActions {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.builderHeaderHistory {
  display: flex;
  gap: var(--spacing-sm);
}

.builderHeaderIconButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: var(--spacing-xs);
  cursor: pointer;
  gap: var(--spacing-xs);
  flex-direction: column;
}

.builderHeaderIconButtonDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.builderHeaderIconButtonLabel {
  color: var(--text-color-secondary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-xs);
  text-align: center;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: normal;
}

.builderHeaderPreviewLabel {
  cursor: pointer;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-primary);
  font-family: var(--font-family-base);
  background: none;
  border: none;
  outline: none;
}

.builderHeaderSaveButton {
  font-family: var(--font-family-base);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--spacing-4xl);
  padding: var(--spacing-lg) var(--spacing-xl);
  background: #02cc59;
  color: var(--text-color-light);
  border: none;
  border-radius: 34px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  min-width: 100px;
}
